@font-face {
	font-family: 'Inter-Medium';
	src: url('/assets/fonts/Inter-Medium.woff2') format('woff2'),
				url('/assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Inter-ExtraBold';
	src: url('/assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
				url('/assets/fonts/Inter-ExtraBold.woff') format('woff');
}

*::-moz-selection {
	color: #ffffff;
	background-color: #ea2d9399;
}

*::selection {
	color: #ffffff !important;
	background-color: #ea2d9399;
}

html,
body,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	height: 100%;
	box-sizing: border-box;
	font-family: 'Inter-Medium', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	word-break: break-word;
	background: #ebebeb;
	color: #2e2e2e;
}

body#home {
	background: linear-gradient(30deg, #ebebeb 0%, #ffffff 70%, #ebebeb 100%);
}

*,
*:before,
*:after {
	box-sizing: inherit;
	word-break: inherit;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	margin: 4rem 0;
	background-color: tomato;
}

a {
	color: inherit;
	text-decoration: none;
}

p a,
li a {
	color: #ea2d93;
}

p {
	margin-top: 1.5rem;
}

.no-break {
	white-space: nowrap;
}

h2 + p,
h3 + p {
	margin-top: 0;
}

p + h2,
p + h3 {
	margin-top: 1.5rem;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 2rem 1.125rem;
}

#centered {
	display: flex;
	justify-content: center;
	padding: 4rem 1.125rem;
}

#intro {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

h1,
h1 + span {
	font-family: 'Inter-ExtraBold', sans-serif;
	font-size: 2.25rem;
	line-height: 1.1;
	color: #111111;
}

h1 + span {
	background: #ea2d93;
	background: linear-gradient(to right, #ea2d93 0%, #9d1fd9 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone; /* hack for multi-line text bug */
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

button {
	border: none;
	transition: transform 0.25s ease;
	margin: 0.25rem;
}

button:hover,
button:focus {
	cursor: pointer;
	transform: scale(1.05);
}

button:active {
    transform: scale(0.99);
}

#content {
	max-width: 100%;
}

#text {
	margin: 2rem 0 4rem;
}

.store-badges {
	margin-top: 2rem;
}

.store-badges a {
	display: block;
	height: 60px;
}

.store-badges a:not(:last-child) {
	margin-bottom: 1rem;
}

.store-badges a img {
	width: auto;
	height: 60px;
}

.cta {
	display: inline-flex;
	align-items: center;
	padding: 1rem 1.25rem;
	border-radius: 10px;
	font-size: 1.25rem;
	color: #ffffff;
	background: #ea2d93;
	background: linear-gradient(to right, #ea2d93 0%, #9d1fd9 100%);
	box-shadow: 0px 10px 25px 0px rgba(203,73,194,0.4);
}

.cta.small {
	display: inline-flex;
	align-items: center;
	padding: 0.5rem 0.625rem;
	border-radius: 10px;
	font-size: 1rem;
	color: #ffffff;
	background: #ea2d93;
	background: linear-gradient(to right, #ea2d93 0%, #9d1fd9 100%);
	box-shadow: 0px 5px 15px 0px rgba(203,73,194,0.4);
}

.cta > img {
	margin-right: 12px;
}

.tw-preview {
	max-width: 100%;
	margin: 1rem;
}

.app-icon {
	max-width: 240px;
	margin: 0 auto;
}

#tw-preview-lm,
#app-icon-lm {
	display: block;
}

#tw-preview-dm,
#app-icon-dm {
	display: none;
}

#text-blocks {
	max-width: 60rem;
	margin: 0 auto;
	display: grid;
	justify-content: center;
	gap: 3rem 3rem;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}

#text-blocks h2 {
	font-size: 1.125rem;
}

#text-blocks .icon {
	display: inline-block;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

body#success #donation-success {
	display: block;
}

#donation-success,
body#success #donation-main {
	display: none;
}

.donate-buttons-headline {
	text-align: center;
}

.donate-button-row {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 2rem;
}

#bottom {
	text-align: center;
	margin: 0 auto;
}

#bottom-text {
	max-width: 28rem;
	margin: 4rem auto 2rem;
}

footer {
	padding: 5rem 0;
}

@media (min-width: 500px) {
	body {
		font-size: 1.125rem;
	}

	section {
		padding: 3rem;
	}
	
	h1,
	h1 + span {
		font-size: 3rem;
	}

	.cta {
		font-size: 1.5rem;
	}

	#content {
		width: 30rem;
	}

	.tw-preview {
		max-width: 360px;
		margin: 3rem;
	}

	.store-badges a {
		display: inline-block;
	}

	.store-badges a:not(:last-child) {
		margin-right: 1rem;
	}

	.app-icon {
		max-width: 317px;
	}

	#text-blocks {
		grid-template-columns: auto auto;
	}

	.donate-buttons-headline {
		text-align: left;
	}

	.donate-button-row {
		flex-direction: row;
	}

	#bottom {
		margin-top: 5rem;
	}
}

@media (min-width: 800px) {
	#centered {
		padding-top: 12rem;
	}
	
	#intro {
		flex-direction: row;
	}

	#text-blocks {
		gap: 3rem 8rem;
	}
}

@media (min-width: 1024px) {
	.tw-preview {
		max-width: 522px;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #111111;
		color: #e2e2e2;
	}

	body#home {
		background: linear-gradient(30deg, #111111 0%, #1b1b1b 70%, #111111 100%);
	}

	h1,
	h1 + span {
		color: #ffffff;
	}

	#tw-preview-lm,
	#app-icon-lm {
		display: none;
	}

	#tw-preview-dm,
	#app-icon-dm {
		display: block;
	}
}